<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-dark">
                <hr class="primary">
                <h3 class="section-heading text-center text-dark"> Synapses misfired! </h3>
                <br>
                <br>
                <p class="text-center text-primary"><i class="fa-solid fa-circle-exclamation fa-4x wow bounceIn" data-wow-delay=".3s"></i></p>
                <br>
                <br>
                <h3 class="section-heading text-center text-dark"> Our brain cells are working overtime to locate the missing page. </h3>
                <hr class="primary">
                <br>
                <br>
                <h3 class="section-heading text-center text-dark"> If you believe this is a mistake, please don't hesitate to <a href="#contact" class="page-scroll">contact us</a>.</h3>

            </div>
    </div>
</section>
