<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h3 style="font-style: italic;"><i class="fa-solid fa-quote-left"></i> &nbsp; We are all now connected by the Internet, like neurons in a giant brain. &nbsp; <i class="fa-solid fa-quote-right"></i></h3>
            <br>
            <h4 style="float: right;"> <i class="fa-regular fa-user text-primary"></i> &mdash; Stephen Hawking</h4>
            <br>
            <hr class="primary">
            <br>
            <a href="https://twitter.com/intent/tweet?text=&hashtags=OHBM_Brainhack_2024" class="btn btn-default btn-xl btn-lg wow tada"> <br> <i class="fa-brands fa-4x fa-x-twitter text-primary" data-wow-delay=".1s"></i> <br> <br> Fire Up Your Tweets! <br> #OHBM_Brainhack_2024 <br> <br> </a>
        </div>
    </div>
</aside>
