<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">About OHBM BrainHack 2024</h2>
                <br>
                <p class="text-center"><i class="fa-solid fa-4x fa-brain wow bounceIn" data-wow-delay=".3s"></i></p>
                <h3 class="section-heading text-center">What is OHBM?</h3>
                <hr class="light">
                <p class="text-faded">OHBM is the Organization for Human Brain Mapping. A Society of scientists dedicated to mapping the brain using all neuroimaging technologies.</p>
                <p class="text-center"><i class="fa-solid fa-4x fa-laptop-code wow bounceIn" data-wow-delay=".3s"></i></p>
                <h3 class="section-heading text-center">What is Brainhack?</h3>
                <hr class="light">
                <p class="text-faded">An event where people get together to learn about open science and to collaborate on projects they are interested in - it can be on anything!</p>
                <p class="text-faded">The OHBM Brainhack is a chance for anyone interested in brains to work collaboratively on common projects and learn about new ideas and tools in open science.</p>
                <p class="text-faded">Brainhacks are not the typical academic conference. Here, attendees can actively take part in the program and learn from each other - sounds something you would like? You can become a part of the event as a volunteer filling the form linked bellow. Many Brainhack projects might involve coding, but it is not a requirement and you can contribute in most cases even without coding skills.</p>
                <p class="text-faded">We look for neuroimagers of all modalities from all over the world at different career stages, and coming from all racial and gender backgrounds who are interested in working together with others to build an open science community. If you're new to the Brainhack community, please join us! If you belong to any minority groups we want to reiterate that we want you here and are excited to have you join us!</p>
                <br>
                <p class="text-center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdk0t0o8DtMs7-iDotOUgz6diFvOINWAs6SEJ5VVCQpNU_tcQ/viewform?usp=sf_link" target="_blank" class="btn btn-default btn-xl">
                        <i class="fa-solid fa-star text-primary"></i>
                        &nbsp; Join Us as a Volunteer! &nbsp;
                        <i class="fa-solid fa-star text-primary"></i>
                    </a>
                </p>
                <br>
            </div>
        </div>
    </div>
</section>
