<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-bottom: 40px;">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Have questions or need assistance? We're here to help!</p>
                <p>Feel free to reach out to us using any of the following methods:</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa-brands fa-4x fa-x-twitter wow bounceIn" data-wow-delay=".1s"></i>
                    <hr class="primary">
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa-regular fa-4x fa-envelope wow bounceIn" data-wow-delay=".2s"></i>
                    <hr class="primary">
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://github.com/{{ site.github_username }}{{ site.baseurl }}">
                    <i class="fa-brands fa-4x fa-github wow bounceIn" data-wow-delay=".3s"></i>
                    <hr class="primary">
                    <p> Open an issue on GitHub</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{{ site.discord_invite }}">
                    <i class="fa-brands fa-4x fa-discord wow bounceIn" data-wow-delay=".3s"></i>
                    <hr class="primary">
                    <p> Join our Discord server</p>
                </a>
            </div>

    </div>
</section>
