<header style="background-image: url('{{ site.baseurl }}/img/{{ page.image }}');">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>OHBM Brainhack</h1>
            <h2>June 20-22 2024</h2>
            <hr>
            <h3>Open Minds, Open Science:</h3>
            <h3>Unleash the Brainhack Spirit!</h3>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <a href="https://github.com/ohbm/hackathon2024/issues/new?assignees=sina-mansour&labels=Hackathon+Project&projects=&template=brainhack-hacktrack-project.yml&title=%3CMy+Project+Name%3E" target="_blank" class="btn btn-primary btn-xl page-scroll">Submit Projects</a>
        </div>
    </div>
</header>
