<header style="background-image: url('{{ site.baseurl }}/img/{{ page.image }}');">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>OHBM Brainhack</h1>
            <h2><i class="fa-regular fa-calendar"></i></h2>
            <h2>June 20-22 2024</h2>
            <h2><i class="fa-solid fa-map-location-dot"></i></h2>
            <h2>Dreamplus Gangnam, Seoul, South Korea</h2>
            <hr>
            <h3>Open Minds, Open Science:</h3>
            <h3>Unleash the Brainhack Spirit!</h3>
            <br>
            <a href="https://www.humanbrainmapping.org/i4a/ams/meetings/index.cfm?controller=meetings&action=startRegistration&conferenceID=149&reginit=1&pageID=4217" target="_blank" class="btn btn-primary btn-xl btn-lg wow tada"> <i class="fa-regular fa-address-card"></i> Register now!</a>
            <br>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"> <i class="fa-solid fa-magnifying-glass"></i> Find Out More</a>
            <a href="https://github.com/ohbm/hackathon2024/issues/new?assignees=sina-mansour&labels=Hackathon+Project&projects=&template=brainhack-hacktrack-project.yml&title=%3CMy+Project+Name%3E" target="_blank" class="btn btn-primary btn-xl page-scroll"> <i class="fa-solid fa-hammer"></i> Submit Projects</a>
        </div>
    </div>
</header>
