<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-dark">
                <p class="text-center text-primary"><i class="fa-solid fa-calendar-days fa-4x wow bounceIn" data-wow-delay=".3s"></i></p>
                <h2 class="section-heading text-center text-primary">On-site schedule</h3>
                <hr class="primary">
                <p class="h3">Join us for BrainHack 2024 in the vibrant city of Seoul, South Korea, from June 20th to 22nd. Experience a collaborative and innovative atmosphere as we explore the frontiers of open science and brain research.</p>
                <p class="text-center text-primary h2">Stay tuned for the detailed schedule...</p>
            </div>
    </div>
</section>
