<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-dark">
                <p class="text-center text-primary"><i class="fa-solid fa-calendar-days fa-4x wow bounceIn" data-wow-delay=".3s"></i></p>
                <h2 class="section-heading text-center text-primary">On-site schedule</h3>
                <hr class="primary">
                <p class="h3">Join us for BrainHack 2024 in the vibrant city of Seoul, South Korea, from June 20th to 22nd. Experience a collaborative and innovative atmosphere as we explore the frontiers of open science and brain research.</p>
            </div>
            <div class="col-lg-12 text-dark">
                <p class="text-center text-primary h2">Schedule Overview</p>
                <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 100px;">Time <br> (UTC+9)</th>
                            <th colspan="2" class="text-center">Day 1 <br> (June 20th)</th>
                            <th colspan="2" class="text-center">Day 2 <br> (June 21st)</th>
                            <th colspan="2" class="text-center">Day 3 <br> (June 22nd)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="timerange">08:30 - 09:00</td>
                            <td colspan="2" rowspan="2" class="starting">Check-in & preparation</td>
                            <td colspan="2" rowspan="2" class="starting">Walk-in & preparation</td>
                            <td colspan="2" rowspan="2" class="starting">Walk-in & preparation</td>
                        </tr>
                        <tr>
                            <td class="timerange">09:00 - 09:30</td>
                        </tr>
                        <tr>
                            <td class="timerange">09:30 - 10:00</td>
                            <td colspan="2" rowspan="1" class="presentation">Welcome & intro talk</td>
                            <td colspan="2" rowspan="1" class="presentation">Talks</td>
                            <td colspan="2" rowspan="1" class="presentation">Talks</td>
                        </tr>
                        <tr>
                            <td class="timerange">10:00 - 10:30</td>
                            <td colspan="2" rowspan="2" class="presentation">Project pitches</td>
                            <td colspan="2" rowspan="1" class="presentation">Unconference</td>
                            <td colspan="2" rowspan="1" class="presentation">Unconference</td>
                        </tr>
                        <tr>
                            <td class="timerange">10:30 - 11:00</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                        </tr>
                        <tr>
                            <td class="timerange">11:00 - 11:30</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                        </tr>
                        <tr>
                            <td class="timerange">11:30 - 12:00</td>
                            <td colspan="1" rowspan="2" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="2" class="train">Traintrack <br> (Live) tutorials</td>
                        </tr>
                        <tr>
                            <td class="timerange">12:00 - 12:30</td>
                        </tr>
                        <tr>
                            <td class="timerange">12:30 - 13:00</td>
                            <td colspan="2" rowspan="2" class="break">Lunch break</td>
                            <td colspan="2" rowspan="2" class="break">Lunch break</td>
                            <td colspan="2" rowspan="2" class="break">Lunch break</td>
                        </tr>
                        <tr>
                            <td class="timerange">13:00 - 13:30</td>
                        </tr>
                        <tr>
                            <td class="timerange">13:30 - 14:00</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                        </tr>
                        <tr>
                            <td class="timerange">14:00 - 14:30</td>
                        </tr>
                        <tr>
                            <td class="timerange">14:30 - 15:00</td>
                        </tr>
                        <tr>
                            <td class="timerange">15:00 - 15:30</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                            <td colspan="2" rowspan="1" class="break">Coffee break</td>
                        </tr>
                        <tr>
                            <td class="timerange">15:30 - 16:00</td>
                            <td colspan="1" rowspan="4" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="4" class="train">Traintrack <br> (Live) tutorials</td>
                            <td colspan="1" rowspan="4" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="4" class="train">Traintrack <br> (Live) tutorials</td>
                            <td colspan="1" rowspan="3" class="hack">Hacktrack <br> (Brain) hacking</td>
                            <td colspan="1" rowspan="3" class="train">Traintrack <br> (Live) tutorials</td>
                        </tr>
                        <tr>
                            <td class="timerange">16:00 - 16:30</td>
                        </tr>
                        <tr>
                            <td class="timerange">16:30 - 17:00</td>
                        </tr>
                        <tr>
                            <td class="timerange">17:00 - 17:30</td>
                            <td colspan="2" rowspan="3" class="presentation">Project progress reports</td>
                        </tr>
                        <tr>
                            <td class="timerange">17:30 - 18:00</td>
                            <td colspan="2" rowspan="1" class="presentation">Talks</td>
                            <td colspan="2" rowspan="1" class="presentation">Talks</td>
                        </tr>
                        <tr>
                            <td class="timerange">18:00 - 18:30</td>
                            <td colspan="2" rowspan="1" class="presentation">Unconference</td>
                            <td colspan="2" rowspan="1" class="presentation">Unconference</td>
                        </tr>
                        <tr>
                            <td class="timerange">18:30 - 19:00</td>
                            <td colspan="2" rowspan="1" class="presentation">Day 1 wrap-up</td>
                            <td colspan="2" rowspan="1" class="presentation">Day 2 wrap-up</td>
                            <td colspan="2" rowspan="1" class="presentation">Closing remarks</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
    </div>
</section>
