<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="h3"> The HackTrack is the official fun side of a Brainhack event, where people can work together on projects.</p>
                <p class="h3"> What projects? Any kind! From exploding brains to resource gathering and data sharing! </p>
                <br>
                <hr class="primary">
                <p class="h3"> Would you like to propose a project?</p>
                <p class="h3"> Just open an issue on our GitHub repository and fill the template, we will be in touch to help you get going! </p>
                <br>
                <a href="https://github.com/ohbm/hackathon2024/issues/new?assignees=sina-mansour&labels=Hackathon+Project&projects=&template=brainhack-hacktrack-project.yml&title=%3CMy+Project+Name%3E" target="_blank" class="btn btn-primary btn-xl page-scroll"> <i class="fa-brands fa-github"></i> &nbsp; Submit Projects</a>
                <br>
                <br>
                <p class="h3"> But be sure to register first! </p>
                <br>
                <a href="#" class="btn btn-primary btn-xl page-scroll"> <i class="fa-regular fa-address-card"></i> &nbsp; Register for BrainHack</a>
                <br>
                <br>
                <hr class="primary">
                <p class="h3"> <i class="fa-solid fa-angles-down text-primary"></i> &nbsp; Explore the incredible projects submitted for this year's hackathon. <i class="fa-solid fa-angles-down text-primary"></i> &nbsp; </p>
                
                {% if site.data.projects.projectlist.size < 5 %}
                    <br>.
                    <br>.
                    <br>.
                    <p class="h3"> <i class="fa-solid fa-hourglass-start text-primary"></i> &nbsp; Be patient, this emptiness will soon be filled with many amazing HackTrack projects. <i class="fa-solid fa-hourglass-start text-primary"></i> &nbsp; </p>
                    <div class="col-lg-8 col-lg-offset-2" style="margin-top: 50px;">
                        <img class="img-responsive" src="{{ site.baseurl }}/img/empty-projects.jpg" alt="Hackathon Projects">
                    </div>
                {% else %}
                
                    {% for project in site.data.projects.projectlist %}
                    {% assign check = forloop.index0 | modulo:2 %}
                    <br>
                    <br>
                    <div class="hackathon-row col-lg-12">
                        <a href="https://github.com/ohbm/hackathon2024/issues/{{ project.issue }}">
                            <div class="hackathon-img-wrapper animated hiding" style="float: {% if check == 0 %}left{% else %}right{% endif %};">
                                <img class="img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ project.image }}" alt="Hackathon" style="max-width: 300px;">
                            </div>
                        </a>
                        <div class="hackathon-details animated hiding">
                            <a href="https://github.com/ohbm/hackathon2024/issues/{{ project.issue }}">
                                <h4>{{ project.title }}</h4>
                            </a>
                            <p>PROJECT DESCRIPTION</p>
                            <p>{{ project.details }}</p>
                        </div>
                    </div>

                    <hr class="primary">
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</section>
