<section class="bg-primary" id="venue" style="background-image: url({{ site.baseurl }}/img/dreamplus.png); background-size: cover; background-position: center; background-repeat: no-repeat; height: 900px;">
    <div class="container" style="margin: auto;">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-8 col-lg-offset-2" style="margin-bottom: 50px; background-color: rgba(0, 0, 0, 0.5); padding: 40px;">
                    <p class="text-center"><i class="fa-solid fa-4x fa-map-location-dot wow bounceIn" data-wow-delay=".3s"></i></p>
                    <div class="col-lg-12 text-center">
                        <!-- <img class="img-responsive" src="{{ site.baseurl }}/img/seoul.jpg" alt="OSSIG" > -->
                        <iframe width="100%" height="300" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbXdTk0-hfDURvFywX9aAskg&key=AIzaSyA6kQ1RWQvC5ropQA5KhX7cT7zKpDrgWxU"></iframe>
                    </div>
                <br>
                </div>
            </div>
        </div>
    </div>
</section>
